@keyframes fadeIn {
    from {
        left: 0;
        width: 0;
    } to {
        left: 0;
        width: 100%;
    }
}

@keyframes fadeOut {
    from {
        left: 0;
        width: 100%;
    } to {
        left: 100%;
        width: 0;
    }
}

.markdown {
    @apply font-["QuicksandMedium","aroundChinese",monospace] md:px-0 px-2 transition-all my-10;
}

.markdown p {
    line-height: 1.7rem;
}

.markdown code{
    @apply bg-[rgba(254,250,199,1)] text-[#FE9600] p-1 rounded-md text-inherit;
}

.markdown a{
    @apply text-blue-500 relative;
}

.markdown a::after {
    @apply  select-none transition-all animate-[fadeOut_.5s_ease-in-out];
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: rgba(59,130,246);
}

.markdown a:hover::after,
.markdown a:focus::after{
    @apply animate-[fadeIn_.5s_ease-in-out_forwards];
}

.markdown blockquote{
    @apply block text-base bg-[rgba(254,150,0,.05)] py-[10px] px-5 my-[20px];
}

.markdown strong {
    @apply font-[800];
}

.markdown ul{
    @apply my-2 pl-6;
}

.markdown li {
    @apply my-2 ml-0 relative;
}

.markdown li::before{
    @apply bg-[#FE9600] absolute w-2 h-[20px] top-1/2 left-[-20px] translate-y-[-50%] rounded-full;
    content: "";
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    @apply font-[600] my-6;
    line-height: 1.25rem;
}

.markdown h1 {
    @apply block text-4xl;

}

.markdown h2 {
    @apply block text-3xl pb-2 border-b-[2px] border-dotted border-[#eaecef];
}

.markdown h3 {
    @apply text-2xl
}

.markdown h4 {
    @apply text-xl
}

.markdown h5 {
    @apply text-lg
}

.markdown h6 {
    @apply text-base
}