@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'JelleeFont';
    src: url('/font/Jellee.ttf')format('truetype');
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/font/QuicksandBold.ttf')format('truetype');
}

@keyframes arrowUpToDown {
    0% {
        bottom: 17px
    }

    50% {
        bottom: 8px
    }

    100% {
        bottom: 17px
    }
}

.arrow {
    @apply absolute w-12 h-12 bottom-[17px] left-[50%] -translate-x-[50%] animate-[arrowUpToDown_2s_infinite] cursor-pointer;
}


.card_wrapper {
    @apply float-left relative w-full h-[300px] my-[20px] rounded-xl bg-[rgba(255,255,255,0)] shadow-[0_1px_20px_-6px_rgba(0,0,0,.5)] text-left hover:shadow-[0_5px_10px_5px_rgba(110,110,110,.4)] transition-all;
}

.card_wrapper:hover img ,
.card_wrapper:focus img{
    @apply rotate-[3deg] scale-[1.2];
}

.card_wrapper:hover .title,
.card_wrapper:focus .title{
    @apply text-[#FE9600]
}

.card_img {
    @apply w-[55%] h-full relative block overflow-hidden float-right rounded-[0_12px_12px_0];
}

.card_content_wrapper {
    @apply float-right w-[40%] flex mx-auto mt-4;
}

.card_wrapper:nth-child(odd) .card_img,
.card_wrapper:nth-child(odd) img {
    @apply float-left rounded-[12px_0_0_12px];
}

.card_wrapper:nth-child(odd) .date {
    @apply justify-end;
}

.card_wrapper .title {
    @apply text-lg my-4 transition-colors duration-[450ms];
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
}

.card_wrapper .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
}