@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'QuicksandMedium';
    src: url('/font/QuicksandMedium.ttf')format('truetype');
}

@font-face {
    font-family: 'aroundChinese';
    src: url('/font/Chinese.ttf')format('truetype');
}

@font-face {
    font-family: 'JelleeFont';
    src: url('/font/Jellee.ttf')format('truetype');
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/font/QuicksandBold.ttf')format('truetype');
}

@keyframes skeleton-loading {
    0%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes arrowUpToDown {
    0% {
        bottom: 17px
    }

    50% {
        bottom: 8px
    }

    100% {
        bottom: 17px
    }
}

body{
    font-family: 'QuicksandMedium', 'aroundChinese', sans-serif !important;
}

.skeleton-loading{
    @apply bg-[linear-gradient(92deg,rgba(0,0,0,.06)_25%,rgba(0,0,0,.15)_37%,rgba(0,0,0,.06)_63%)] bg-[length:400%_100%] animate-[skeleton-loading_1.4s_ease_infinite];
    animation-fill-mode: both;
}

.arrow {
    @apply absolute w-12 h-12 bottom-[17px] left-[50%] -translate-x-[50%] animate-[arrowUpToDown_2s_infinite] cursor-pointer;
}
